configuration {
  /* let launcher be default */
  theme: "themes/box.rasi";
  modi: [window, drun, run, emoji, ssh, combi];

  terminal: "alacritty";
  fake-transparency: false;

  drun-display-format: "{icon} {name}";
  display-drun: "Launch";
  display-run: "Run";
  display-ssh: "SSH into";
  display-emoji: "😂😂😂";

  /* TODO: check what this is */
  bw: 0;
}

/* vim:ft=css
